<div  *ngIf="product" class="container">
	<div class="row">
		<div class="cards" class="col">
			<mat-card color="secondary" class="card">
				<mat-card-header  class="card-header">
					<mat-card-title>{{product.tile}}</mat-card-title>
					<mat-card-subtitle>Price: {{product.price | currency }}</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
					<p>
					{{product.description}}
					</p>
				</mat-card-content>
        <mat-card-actions>
          Select the product variant: 
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          
            <mat-button-toggle *ngFor="let variant of product.variants"  [value]="variant">{{variant.title}}</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-actions>
        <mat-card-actions>
          <button (click)="addToCart(product)" mat-button> <mat-icon>add_shopping_cart</mat-icon>
            ADD TO CART</button>
            <button (click)="removeFromCart(product)" mat-button> <mat-icon>remove_shopping_cart</mat-icon>
              REMOVE</button>
        </mat-card-actions>
			</mat-card>
		</div>
	</div>
	<div class="row">
		<div  class="col">
			<mat-carousel
				#matCarousel
				[timings]="timings"
				[autoplay]="autoplay"
				[interval]="interval"
				[loop]="loop"
				[hideArrows]="hideArrows"
				[hideIndicators]="hideIndicators"
				[color]="color"
				[maxWidth]="maxWidth"
				[proportion]="proportion"
				[useKeyboard]="useKeyboard"
				[useMouseWheel]="useMouseWheel"
				[orientation]="orientation"
				[slides]="product.images.length"
				[maintainAspectRatio]="maintainAspectRatio"
				[slideHeight]="slideHeight"
			>
				<mat-carousel-slide #matCarouselSlide *ngFor="let image of product.images; let i = index" [image]="image"> </mat-carousel-slide>
			</mat-carousel>
		</div>
	</div>
</div>
