.card {
	max-width: 270px;
	margin: 10px;
  display: inline-grid;
	font-size: 16px;
}
.card-header{
  display: block;
}
.mat-card-header .mat-card-title{
	font-size: 16px;
}
.header-image {
	background-size: cover;
}
.cards {
	text-align: -webkit-center;
}

.mat-card-subtitle{
	font-size: 16px;
}
.mat-button{
	font-size: 12px;
}

.chip-list {
  width: 100%;
}

