<div color="secondary" class="cards" *ngIf="products">
	<div class="row">
		<div class="col">
			<mat-card *ngFor="let item of filterProducts()" class="card">
				<mat-card-header class="card-header">
					<mat-card-title>{{ item.title }}</mat-card-title>
					<mat-card-subtitle>Price: {{ item.price | currency }}</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image [src]="item.images[0]" [alt]="item.images[1] || item.images[2]" />
				<mat-card-actions>
					<button (click)="addToCart(item)" mat-button><mat-icon>add_shopping_cart</mat-icon> ADD TO CART</button>
					<button mat-button [routerLink]="['/product']" [queryParams]="{ selectedProduct: item | json }"><mat-icon>info</mat-icon> DETAILS</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>
<div>
	<mat-form-field class="chip-list">
		<mat-label>Products filter</mat-label>
		<mat-chip-list #chipList aria-label="Products selection">
			<mat-chip *ngFor="let tag of tags" [selectable]="selectable"
							 [removable]="removable" (removed)="remove(tag)">
				{{tag.name}}
				<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
			</mat-chip>
			<input placeholder="New filter..."
						 [matChipInputFor]="chipList"
						 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
						 [matChipInputAddOnBlur]="addOnBlur"
						 (matChipInputTokenEnd)="add($event)">
		</mat-chip-list>
	</mat-form-field>
</div>

<div color="secondary" class="cards" *ngIf="productsFiltered">
	<div class="row">
		<div class="col">
			<mat-card *ngFor="let item of productsFiltered" class="card">
				<mat-card-header class="card-header">
					<mat-card-title>{{ item.title }}</mat-card-title>
					<mat-card-subtitle>Price: {{ item.price | currency }}</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image [src]="item.images[0]" [alt]="item.images[1] || item.images[2]" />
				<mat-card-actions>
					<button (click)="addToCart(item)" mat-button><mat-icon>add_shopping_cart</mat-icon> ADD TO CART</button>
					<button mat-button [routerLink]="['/product']" [queryParams]="{ selectedProduct: item | json }"><mat-icon>info</mat-icon> DETAILS</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>
